<app-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size="12" size-lg="4" size-md="4" size-sm="6" size-xs="12" *ngFor="let us of users">
          <ion-card>
            <img alt="{{us.name}}" src="http://localhost:3000/users/image/{{us.image}}" />
            <ion-card-header>
              <ion-card-title>{{us.username}}</ion-card-title>
              <ion-card-subtitle>{{us.name}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content class="cont-gest">
              {{us.email}}
              <div class="flex">
                <div class="btn-gest">
                  <ion-button color="warning" (click)="update(us.id)" fill="clear">Actualizar</ion-button>
                </div>
                <div class="btn-gest">
                  <ion-button color="danger" (click)="delete(us.id)" fill="clear">Eliminar</ion-button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</app-header>