<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <fieldset class="form">
    <legend>Actualizar Album</legend>
    <ion-input type="text" [(ngModel)]="data.title" placeholder="Titulo..." ></ion-input>
    <ion-input type="text" [(ngModel)]="data.description" placeholder= "Descripción..."></ion-input>
    <div class="content">
      <label for="file" class="btn btn-acutalizar">Subir Archivo</label>
      <h3 id="nombre" class="nomImagen"></h3>
      <input class="oculto" id="file" type="file" (change)="uploadImage($event)"/>
    </div>
    <ion-input type="text" [(ngModel)]="data.year" placeholder="Año..."></ion-input>
    <ion-item>
      <ion-select [(ngModel)]="data.artist_id" label="Artista" label-placement="floating">
        <ion-select-option disabled value="apple">-- Selecciona un artista --</ion-select-option>
        <ion-select-option *ngFor="let a of artists" [value]="a.id">
          {{ a.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="content">
      <ion-button (click)="clic()" color="danger">Actualizar</ion-button>
    </div>
  </fieldset>
</ion-content>