.bg {
    height: 25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    .title-container {
        display: flex;
        justify-content: flex-start; /* Alinea horizontalmente a la izquierda */
        align-items: flex-end; /* Alinea verticalmente hacia abajo */
        height: 100%; /* Ocupa toda la altura del contenedor padre */
        
        .title-block {
            display: flex; /* Utilizamos flexbox para los títulos */
            flex-direction: column; /* Coloca los títulos uno encima del otro */
            justify-content: flex-end; /* Alinea el texto hacia abajo */
            align-items: flex-start; /* Alinea el texto a la izquierda */
            padding-left: 1rem; /* Agrega un espacio a la izquierda para separar del borde */
            
            .title {
                font-size: 3rem;
            }
            
            .subtitle {
                font-size: 1.5rem;
                .subtitle-artist{
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
        }
    }
}
$rojo: #ca0707;
.danger-content{
    transition: 0.5s;
    padding: 1.5rem 1.5rem;
    .alert{
        cursor: pointer;
        color: $rojo;
        font-weight: 700;
        transition: 0.5s;
        height: 100%;
        padding: 1.5rem 1.5rem;
    }
    &:hover{
        background-color: $rojo;
        .alert{
            color: #fff;
        }   
    }
}

.sucess-content{
    padding: 0 1.5rem;
    .btn{
        transition: 0.5s;
        cursor: pointer;
        border-radius: 50%;
        background-color: $rojo;
    }
}
