<ion-content>
  <ion-header>
    <ion-toolbar *ngFor="let a of album">
      <div class="bg" style="background-image: url('http://localhost:3000/albums/image/{{a.image}}');" id="bg">
        <div class="title-container">
          <div class="title-block">
            <ion-title class="title">{{a.title}}</ion-title>
            <ion-title class="subtitle">Album de <span class="subtitle-artist">{{a.nameArtist}}</span></ion-title>
          </div>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let s of songs" class="song-album" [inset]="true">
      <ion-item >
        <p class="number">{{s.number}}</p>
        <ion-label>{{s.name}}</ion-label>
        <div class="danger-content" *ngIf="s.file === null">
          <label for="song" class="alert">Sin canción, haz clic para subir la cancion</label>
          <input type="file" id="song" (change)="uploadFile($event, s.id)" class="oculto">
        </div>
        <div class="sucess-content" *ngIf="s.file !== null">
          <p class="btn" (click)="reproductor(s.id)">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="34" height="34" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 4v16l13 -8z" />
            </svg>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
